* {
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  height: 200vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

form{
  width: 100%;
  border: solid 1px #EBEBEB;
  padding: 5rem;
}

button{
  margin-top: 2rem;

}

table, th, td {
border: 1px solid Black;}

/* make the table a 100% wide by default */
table {
width: 100%;}

/* if the browser window is at least 800px-s wide: */
@media screen and (min-width: 800px) {
  table {
  width: 90%;}
}

/* if the browser window is at least 1000px-s wide: */
@media screen and (min-width: 1000px) {
  table {
  width: 80%;}
}
